footer {
    background-color: #f9f6f0;
    color: #333;
}

footer h5 {
    font-size: 1rem;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #007bff;
}

footer img {
    width: 40px;
    height: auto;
    border-radius: 4px;
}